body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("image\ of\ computer.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 100%;
}
.button{
    background-color: plum;
    padding: 5px;
    border-radius: 5px;
}
.button:hover{
    cursor: pointer;
    background-color: purple;
}